{
  "mcpServers": {
    "qdrant": {
      "command": {{ if eq .chezmoi.os "windows" }}"cmd"{{ else }}"uvx"{{ end }},
      "args": {{ if eq .chezmoi.os "windows" }}[
        "/c",
        "uvx",
        "--managed-python",
        "--python",
        "3.12",
        "mcp-server-qdrant"
      ]{{ else }}[
        "--managed-python",
        "--python",
        "3.12",
        "mcp-server-qdrant"
      ]{{ end }},
      "env": {
        "QDRANT_URL": "{{ with .infra.pi_fqdn }}http://{{ . }}:6333{{ end }}",
        "QDRANT_API_KEY": "${QDRANT_API_KEY}",
        "COLLECTION_NAME": "memories",
        "EMBEDDING_MODEL": "sentence-transformers/all-MiniLM-L6-v2",
        "HF_HUB_OFFLINE": "0",
        "FASTEMBED_CACHE_PATH": "{{ joinPath .xdg_cache_home "fastembed" | replace "\\" "\\\\" }}"
      }
    }
  }
}
