# ███████╗███████╗ █████╗
# ██╔════╝╚══███╔╝██╔══██╗
# █████╗    ███╔╝ ███████║
# ██╔══╝   ███╔╝  ██╔══██║
# ███████╗███████╗██║  ██║
# ╚══════╝╚══════╝╚═╝  ╚═╝
# A modern, maintained replacement for ls.
#

themes/{{ index .theme_mappings.eza .theme.name }}.yml
