{
  "env": {
    "GITLAB_API_URL": "https://git.dreamhost.com/api/v4",
    "GITLAB_PERSONAL_ACCESS_TOKEN": "{{ dig "secrets" "dh_gitlab_pat" "" . }}",
    "PATH": "{{ .xdg_data_home | replace "\\" "\\\\" }}\\mise\\shims;${PATH}",
    "MISE_INSTALL_MISSING": "false"
  }
}
