<?xml version="1.0" encoding="UTF-16"?>

<Task version="1.4" xmlns="http://schemas.microsoft.com/windows/2004/02/mit/task">

  <RegistrationInfo>

    <Date>2025-10-27T09:52:40.559-07:00</Date>

    <Author>{{ .chezmoi.username }}</Author>

    <Description>Start FanControl at startup</Description>

    <URI>\FanControl</URI>

  </RegistrationInfo>

  <Principals>

    <Principal id="Author">

      <UserId>{{ .chezmoi.username }}</UserId>

      <LogonType>InteractiveToken</LogonType>

      <RunLevel>HighestAvailable</RunLevel>

    </Principal>

  </Principals>

  <Settings>

    <DisallowStartIfOnBatteries>false</DisallowStartIfOnBatteries>

    <StopIfGoingOnBatteries>false</StopIfGoingOnBatteries>

    <ExecutionTimeLimit>PT0S</ExecutionTimeLimit>

    <MultipleInstancesPolicy>IgnoreNew</MultipleInstancesPolicy>

    <Priority>3</Priority>

    <IdleSettings>

      <StopOnIdleEnd>true</StopOnIdleEnd>

      <RestartOnIdle>false</RestartOnIdle>

    </IdleSettings>

    <UseUnifiedSchedulingEngine>true</UseUnifiedSchedulingEngine>

  </Settings>

  <Triggers>

    <LogonTrigger>

      <UserId>{{ .chezmoi.username }}</UserId>

    </LogonTrigger>

  </Triggers>

  <Actions Context="Author">

    <Exec>

      <Command>{{ .chezmoi.homeDir }}\scoop\apps\fancontrol\current\FanControl.exe</Command>

      <WorkingDirectory>{{ .chezmoi.homeDir }}\scoop\apps\fancontrol\current</WorkingDirectory>

    </Exec>

  </Actions>

</Task>
