{
  "Commands": [
    {
      "Name": "Open with File Explorer",
      "Executable": "explorer.exe",
      "Arguments": "\"{path}\"",
      "IsEnabled": true,
      "ZoxideAddOnSuccess": true,
      "Icon": "folder.png"
    }
  ],
  "ZoxideExePath": {{ printf "%s/.local/share/mise/shims/zoxide.exe" .chezmoi.homeDir | replace "/" "\\" | quote }},
  "DefaultCommand": "Open with File Explorer",
  "CommandTimeoutMs": 1000,
  "CacheExpirationSeconds": 0,
  "FishStyleEnabled": false,
  "PathTruncationLength": 0,
  "TruncationSymbol": "…"
}
